<h1>Welcome to LoginPal, <%= user.email %>! </h1>

<h2>Thanks for signing up!</h2>

<h3>Please go to LoginPal.com to get started. To get help when trying to remember passwords and username, please download the chrome extension here goo.gl/t9GDvi .  When logging into a website, just type "Ctrl" and "L" at the same time or click the icon in the top right of your browser.</h3>

<h3>
  We would love any feedback you may have to improve LoginPal!  Please email avalente111@gmail.com to do so. </h3>

<h3>
Thanks! </br>
LoginPal
</h3>
