<div class="btn-group bold" id="tile_<%= site.id %>">
  <%= link_to image_tag(site.favicon) + " " + site.company, "http://www.#{site.site}", class:"btn", target:"_blank" %>
  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, "#", class:"btn dropdown-toggle", "data-toggle"=>"dropdown", id:"tile_plus_#{site.id}" %>

  <%= render "dropdown", :site => site %>
</div>
