<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Favicon</th>
          <th>Company</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <% @distinct.each do |site| %>
          <tr class = "rowhover">
            <td><%= image_tag site.favicon %></td>
            <td><%= site.company %></td>
            <td><%= site.site %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%#= @sites.each{ |s| s.pwhint_sb.decrypt 'Login99pal!' %>
