<h1 class = "text-center">Welcome to LoginPal</h1><h1 class = "text-center pull-right"><!-- <i class="icon-key"></i></h1> -->
<h3 class = "text-center">With just <em>one</em> click get a Password Hint.</h3>
<p class="lead text-center">Never get stuck trying to remember a password again.</p>



<div id="myCarousel" class="carousel slide homecarousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag("image2.png", :class=>"homescreenshot", :alt => "screenshot2") %>
      <div class = "carousel-caption">
        <h4>When you get stuck at a login, simply click the chrome extension and get your reminder.</h4>
      </div>
    </div>
    <div class="item"><%= image_tag("image1.png", :class=>"homescreenshot", :alt => "screenshot1") %>
      <div class = "carousel-caption">
        <h4>Manage your usernames and password hints of the sites you visit all from one, secure place.</h4>
      </div>
    </div>
    <div class="item"><%= image_tag("image3.png", :class=>"homescreenshot", :alt => "screenshot3") %> <div class = "carousel-caption"> <h4>Ever need help remembering your passwords? We've got your back.</h4> </div> </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
