
<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <td id="td_company">Company</th>
          <td id="td_username">Username</th>
          <td id="td_pwhint">Password hint</th>
          <td id="td_edit"> </th>
          <td id="td_delete"> </th>
        </tr>
      </thead>
    </table>
    <%= render 'form_new', :site => Site.new %>
    <% @sites_sort.each do |site| %>
      <%= render 'site', :site => site %>
    <% end %>
  </div>
</div>

<script>
  $("#company_new").focus();
  setTimeout(function(){
     window.location.reload(1);
  }, 1000000);
</script>
