
<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <td id="td_company">Website</th>
          <td id="td_username">Username</th>
          <td id="td_pwhint">Password hint</th>
          <td id="td_edit"> </th>
          <td id="td_delete"> </th>
        </tr>
      </thead>
    </table>
    <%= render 'form_new', :site => Site.new %>
    <% @sites_sort.each do |site| %>
      <%= render 'site', :site => site %>
    <% end %>
    <% if @sites.count <= 8 %>
      <div class="text-center chromelink">
      <%= link_to '<i class="icon-google-plus"></i></i> Download our chrome extension'.html_safe, "https://chrome.google.com/webstore/detail/loginpal/efagimnfpcpaoommipfahieedckachdh", target: "_blank", class: "btn btn-success btn-large" %>
      </div>
    <% end %>
  </div>
</div>


<script>
  $("#company_new").focus();
  setTimeout(function(){
     window.location.reload(1);
  }, 1000000);
</script>
