<html>
  <head>
    <title>JSON Parse Test</title>

    <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type = "text/javascript">

        $.getJSON('http://localhost:3000/sites.json', 'limit=10', processWebsites);
        function processWebsites(data) {
        var infoHTML='';

        $.each(data, function(website, websiteDetails) {
        infoHTML+= websiteDetails.username;
        infoHTML+= websiteDetails.pwhint;
        });

        $('#info').html(infoHTML);
        }

    </script>
  </head>
  <body>
    <div id = "info">
    </div>
  </body>
</html>
