<html>
    <head>
      <title>JSON Parse Test</title>

        <script type = "text/javascript">

            $.getJSON('http://localhost:3000/sites.json', 'limit=5', processWebsites);
            function processWebsites(data) {
            var infoHTML='';

            alert(JSON.stringify(data,));

            $.each(data, function(website, websiteDetails) {
            infoHTML+= websiteDetails.username;
            infoHTML+= websiteDetails.pwhint;
            });

            $('#info').html(infoHTML);
            }

         </script>

     </head>
        <body>

          <div id = "info">

          </div>

      </body>
</html>
